html, body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

header {
  background-color: #F55A5A;
  height: 10vh;
  color: #fff;
  fill: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.globe-icon {
  width: 2em;
}

.site-name {
  letter-spacing: -7.5%;
  font-weight: 500;
  font-size: 1.5rem;
}